= link_to button_urls[:up], :method => :put, :class => 'btn btn-mini' do
  %i.icon-arrow-up
  UP  
= link_to button_urls[:down], :method => :put, :class => 'btn btn-mini' do
  %i.icon-arrow-down
  DOWN